@import "tailwindcss";

:root {
  --background: #fafafa; /* Slightly off-white for a premium feel */
  --foreground: #171717;
  --accent: #e5e5e5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  antialiased: true;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.02em;
}

